@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f172a;
  color: #ffffff;
}

.container {
  max-width: 1170px !important;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

section {
  padding: 20px 0;
}
.fixed_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #0f172a;
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000063;
    z-index: 100;
    display: none;
  }
  .menu .logo {
    display: flex;
    width: 230px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 300;
    padding-left: 10px;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 30px;
  }
  .menu ul {
    width: 230px;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 200;
    padding-left: 40px;
    padding-top: 10px;
    background: #0f172a;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 30px;
  }
  .show_menu {
    display: block;
  }
}
.sliderToRight .slide_trackRight {
  display: flex;
  min-width: 100%;
  width: calc(360px * 8);
  animation: scroll 30s linear infinite;
  animation-direction: reverse;
  animation-play-state: running;
  animation-delay: 0s;
}
.sliderToLeft .slide_trackLeft {
  display: flex;
  min-width: 100%;
  width: calc(360px * 8);
  animation: scroll 30s linear infinite;
  animation-play-state: running;
  animation-delay: 0s;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-360px * 4));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-360px * 4));
  }
}
